@media only screen and (max-width: 991px) {
  .navbar {
    display: none;
  }
  .mobile-nav-content .mobile-nav-list li {
    flex-direction: column;
  }
  .mobile-nav-content .mobile-nav-list li .child-menu {
    margin-left: 15px;
  }
  .mobile-nav.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .mobile-nav .search-container {
    position: relative;
  }
  .mobile-nav .search-container input {
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
  }
  .mobile-nav .search-container button {
    position: absolute;
    top: 8px;
    right: 10px;
    border: none;
    background-color: transparent;
  }
  .mobile-nav .search-container button img {
    filter: contrast(0) invert(1);
  }
  .mobile-nav-content {
    height: 100vh;
  }
  .overflow-hidden {
    overflow: hidden;
  }
  .values-area .carousel-height .carousel-inner {
    height: auto !important;
  }
}

@media only screen and (max-width: 768px) {
  #cd-timeline::before {
    left: 4%;
  }
  .cd-timeline-img {
    left: 4%;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: left;
  }
  .cd-timeline-block:nth-child(odd) .cd-timeline-content {
    float: left;
  }
  .cd-timeline-content {
    margin-left: 50px;
  }
  #cd-timeline .title {
    float: left !important;
  }
  .hide-on-mobile {
    display: none;
  }
  .product-area .btn-outline-primary {
    min-height: 30px;
    position: absolute;
    left: unset;
    right: unset;
    top: unset;
    bottom: 0px;
  }
  .mobile-product-slider-pagination {
    bottom: unset !important;
  }
  .mobile-product-slider .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    background: #99c1dc;
  }
  .mobile-product-slider .swiper-pagination-bullet-active {
    width: 34px;
    height: 7px;
    background: #0064a7 !important;
    border-radius: 14px;
  }
}

@media only screen and (max-width: 425px) {
  .leadership-page,
  section {
    overflow-x: hidden;
  }
  .product-area .btn-outline-primary {
    min-height: 30px;
    position: absolute;
    left: unset;
    right: unset;
    top: unset;
    bottom: 0px;
  }
  .hide-on-mobile {
    display: none;
  }
  .values-area .carousel-item {
    height: auto;
    padding-top: 54px;
    background-color: unset;
  }
  .hide-on-mobile {
    display: none;
  }
  .hide-on-desktop {
    display: block;
  }
  .values-area .container {
    padding: 0px;
  }
  .values-area .carousel-caption {
    top: 110px;
  }
  .values-area .carousel-caption .details p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;

    color: #ffffff;
  }
  .values-area .carousel-caption .details {
    width: 100%;
  }
  .btn-learn-more2 {
    bottom: -500px;
  }
  .carousel-control-next,
  .carousel-control-prev {
    top: 760px;
  }
  .carousel-control-prev {
    left: 340px;
  }
  .mobile-nav .mobile-nav-header {
    background-color: transparent;
    backdrop-filter: unset;
  }
  .hero-swipe {
    height: auto !important;
  }
  .hero-section .carousel-caption p {
    display: block;
  }
  .hero-swipe .carousel-caption {
    right: unset;
  }
  .hero-section .carousel-caption {
    top: 100px;
  }
  .hero-section .carousel-caption h4 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 118%;
    color: #ffffff;
  }
  .world {
    height: 42px;
  }
  .hero-section .carousel-caption h6 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.01em;

    color: #ffffff;
  }
  .hero-section .carousel-caption p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #ffffff;
  }
  .hero-swipe .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    background: #ffffff;
    opacity: 1;
  }
  .hero-swipe .swiper-pagination-bullet-active {
    width: 34px;
    height: 7px;
    background: #ffffff !important;
    border-radius: 14px;
  }
  .hero-swipe .swiper-pagination {
    bottom: 80px;
  }
  .team {
    display: none;
  }
  .team-mobile {
    display: block;
  }
  .team-mobile .member-item {
    min-height: 541px;
    margin-bottom: 45px;
  }
  .team-mobile .member-item .text-item {
    padding: 20px;
  }
  .team-mobile .member-item .text-item p {
    color: #ffffff;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
  }
  .team-mobile .member-item .text-item .team-title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 133%;
    color: #ffffff;
  }
  .mobile-nav-link {
    width: 100%;
  }
  .has-child-menu {
    position: relative;
  }
  .has-child-menu::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
  }
  .child-menu {
    display: none;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  }
  .show {
    display: block;
  }
  .leadership-page .values-area .carousel-caption {
    top: 0px;
    padding-top: 80px;
    left: 0px;
  }
  .leadership-page .values-area .leadership-caption {
    margin-left: 15px;
  }
  .leadership-page .values-area .leadership-caption .name {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 133%;
    /* identical to box height, or 40px */

    /* White */

    color: #ffffff;
  }
  .leadership-page .values-area .btn-learn-more {
    position: absolute;
    top: 840px;
  }
}

@media only screen and (max-width: 375px) {
  .carousel-control-prev {
    left: 310px;
  }
  .btn-learn-more2 {
    bottom: -418px;
  }
  .leadership-page .values-area .btn-learn-more {
    position: absolute;
    top: 786px;
  }
  .carousel-control-prev {
    left: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .carousel-control-next,
  .carousel-control-prev {
    top: 640px;
  }
  .leadership-page .values-area .btn-learn-more {
    position: absolute;
    top: 665px;
  }
  .carousel-control-prev {
    left: 250px;
  }
}
