@media only screen and (max-width: 991px) {
  .navbar {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #cd-timeline::before {
    left: 4%;
  }
  .cd-timeline-img {
    left: 4%;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: left;
  }
  .cd-timeline-block:nth-child(odd) .cd-timeline-content {
    float: left;
  }
  .cd-timeline-content {
    margin-left: 50px;
  }
  #cd-timeline .title {
    float: left !important;
  }
  .hide-on-mobile {
    display: none;
  }
  .product-area .btn-outline-primary {
    min-height: 30px;
    position: absolute;
    left: unset;
    right: unset;
    top: unset;
    bottom: 0px;
  }
  .mobile-product-slider-pagination {
    bottom: unset !important;
  }
  .mobile-product-slider .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    background: #99c1dc;
  }
  .mobile-product-slider .swiper-pagination-bullet-active {
    width: 34px;
    height: 7px;
    background: #0064a7 !important;
    border-radius: 14px;
  }
}

@media only screen and (max-width: 425px) {
  .product-area .btn-outline-primary {
    min-height: 30px;
    position: absolute;
    left: unset;
    right: unset;
    top: unset;
    bottom: 0px;
  }
  .hide-on-mobile {
    display: none;
  }
  .values-area .carousel-item {
    height: auto;
    padding-top: 54px;
    background-color: unset;
  }
  .hide-on-mobile {
    display: none;
  }
  .hide-on-desktop {
    display: block;
  }
  .values-area .container {
    padding: 0px;
  }
  .values-area .carousel-caption {
    top: 110px;
  }
  .values-area .carousel-caption .details p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;

    color: #ffffff;
  }
  .values-area .carousel-caption .details {
    width: 100%;
  }
  .btn-learn-more2 {
    bottom: -500px;
  }
  .carousel-control-next,
  .carousel-control-prev {
    top: 760px;
  }
  .carousel-control-prev {
    left: 340px;
  }
  .mobile-nav .mobile-nav-header {
    background-color: transparent;
    backdrop-filter: unset;
  }
  .hero-swipe {
    height: auto !important;
  }
  .hero-section .carousel-caption p {
    display: block;
  }
  .hero-swipe .carousel-caption {
    right: unset;
  }
  .hero-section .carousel-caption {
    top: 100px;
  }
  .hero-section .carousel-caption h4 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 118%;
    color: #ffffff;
  }
  .world {
    height: 42px;
  }
  .hero-section .carousel-caption h6 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.01em;

    color: #ffffff;
  }
  .hero-section .carousel-caption p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #ffffff;
  }
  .hero-swipe .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    background: #ffffff;
    opacity: 1;
  }
  .hero-swipe .swiper-pagination-bullet-active {
    width: 34px;
    height: 7px;
    background: #ffffff !important;
    border-radius: 14px;
  }
  .hero-swipe .swiper-pagination {
    bottom: 80px;
  }
  .team {
    display: none;
  }
  .team-mobile {
    display: block;
  }
  .team-mobile .member-item {
    min-height: 541px;
    margin-bottom: 45px;
  }
  .team-mobile .member-item .text-item {
    padding: 20px;
  }
  .team-mobile .member-item .text-item p {
    color: #ffffff;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
  }
  .team-mobile .member-item .text-item .team-title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 133%;
    color: #ffffff;
  }
}

@media only screen and (max-width: 375px) {
  .carousel-control-prev {
    left: 310px;
  }
  .btn-learn-more2 {
    bottom: -418px;
  }
}
